doctype html

html(lang='fr')
    head
        meta(charset='utf-8')
        meta(charset='utf-8')
        meta(name='generator', content='Cosma 1.0')
        meta(name='description', content='Cosma est un logiciel de création et de visualisation de graphe documentaire. Il permet de générer et représenter des documents interreliés sous la forme d’un réseau interactif dans un navigateur web.')

        title Cosma - Cosmoscope

        style
            include styles.css

        script
            include libs/d3.js
            include libs/fuse.js

    body
        div(class='index')

            include cosmalogo.svg

            input(class='search-bar',id='search',placeholder='Rechercher')
            ul(id='search-result-list')

            section
                h1 Types
                ul
                    each typ in types
                        li(data-filter=typ,class='filter') #{typ}

            section
                h1(class='arrow-switch',id='index-stick') Index
                ul(id='record-list')
                    each link in index
                        li(
                            class='id-link',
                            title=link.id,
                            onclick='openRecord(' + link.id + ')') #{link.title}

            section
                h1(class='arrow-switch',id='control-stick') Controls
                div(class='controls',id='control-list')
                    include graph-d3.html

        div(id='graph')
            svg(id='graph_canvas')

        section(class='fiche-content',id='record-container')

            button(
                class='fiche__btn-close',
                onclick='closeRecord()') Fermer
            
            each content in index
                aside(class='fiche', id=content.id)
                    h1 #{content.title}
                    div !{content.content}

                    if content.links.length !== 0
                        h5 Liens
                        ul
                            each link in content.links
                                li(class='id-link',title=link.id,onclick='openRecord(' + link.id + ')') #{link.title}

        script
            include scripts/graph.js
            include scripts/filter.js
            include scripts/record.js
            include scripts/search.js
            include scripts/controler.js
            include scripts/controls.js
            include graph-data.js