doctype html

html(lang='fr')
    head
        meta(charset='utf-8')
        title Cosma - Cosmoscope
        style
            include styles.css
        script
            include d3.js

    body
        div.index
            h1 Index
            ul
                each link in index
                    li(class='id-link',title=link.id,onclick='openRecord(' + link.id + ')') #{link.title}
        
        include graph-d3.html

        section.fiche-content
            button(
                class='fiche__btn-close',
                onclick='closeRecord()'
            ) Fermer
            
            each content in index
                aside(class='fiche', id=content.id)
                    h1 #{content.title}
                    div !{content.content}
                    if content.links.length !== 0
                        h5 Liens
                        ul
                            each link in content.links
                                li(class='id-link',onclick='openRecord(' + link + ')') #{link}

        script
            include graph-script.js
        script
            include graph-data.js
        script
            include record-script.js