doctype html

html(lang='fr')
    head
        meta(charset='utf-8')
        title Cosma - Cosmoscope
        style
            include styles.css
        script
            include libs/d3.js
            include libs/fuse.js

    body
        div.index
            input(id='search',placeholder='Rechercher')
            ul(id='search-result-list')

            h1 Index
            ul
                each link in index
                    li(class='id-link',title=link.id,onclick='openRecord(' + link.id + ')') #{link.title}
        
        include graph-d3.html

        div(id='graph')
            aside(id='graph_key')
                span Légende :
                ul
                    each typ in types
                        li(data-filter=typ,class='filter') #{typ}
            svg(id='graph_canvas')

        section.fiche-content
            button(
                class='fiche__btn-close',
                onclick='closeRecord()'
            ) Fermer
            
            each content in index
                aside(class='fiche', id=content.id)
                    h1 #{content.title}
                    div !{content.content}
                    if content.links.length !== 0
                        h5 Liens
                        ul
                            each link in content.links
                                li(class='id-link',title=link.id,onclick='openRecord(' + link.id + ')') #{link.title}

        script
            include scripts/graph.js
            include scripts/filter.js
            include scripts/record.js
            include scripts/search.js
            include scripts/controler.js
            include graph-data.js