doctype html

html(lang='fr')
    head
        meta(charset='utf-8')
        meta(name='generator', content='Cosma 1.0')
        meta(name='description', content='Cosma est un logiciel de création et de visualisation de graphe documentaire. Il permet de générer et représenter des documents interreliés sous la forme d’un réseau interactif dans un navigateur web.')

        title Cosma - Cosmoscope

        style
            include colors.css
            include styles.css

        script
            include libs/d3.js
            include libs/fuse.js

    body
        main(class='interface')
        
            div(class='index')

                include cosmalogo.svg

                input(class='search-bar',id='search',placeholder='Rechercher...',autocomplete='off')
                ul(id='search-result-list')

                section
                    h1 Filtres
                    ul
                        each typ in types
                            li(class='filter t_' + typ.name,data-filter=typ.nodes) #{typ.name}

                section
                    h1(class='arrow-switch',id='tag-stick') Tags

                    ul(id='tag-list',class='tags')
                        each tag in tags
                            li(class='tag',data-tag=tag.nodes) #{tag.name}

                section
                    h1(class='arrow-switch',id='index-stick') Index

                    div(id='sort-box')
                        button(data-sort='record-list-alphabetic') A-Z
                        button(data-sort='record-list-alphabetic-reverse') Z-A
                        button(data-sort='record-list-bytime') time
                        button(data-sort='record-list-bytime-reverse') rtime

                    ul(id='record-list')

                        li(id='record-list-alphabetic', class='record-sorting active')
                            ul
                                each link in index
                                    li(
                                        class='id-link',
                                        title=link.id,
                                        onclick='openRecord(' + link.id + ')') #{link.title}

                        - var index = index.reverse();

                        li(id='record-list-alphabetic-reverse', class='record-sorting')
                            ul
                                each link in index
                                    li(
                                        class='id-link',
                                        title=link.id,
                                        onclick='openRecord(' + link.id + ')') #{link.title}

                        - var index = index.sort(function(a, b) { if (a.mtime < b.mtime) {return -1; } if (a.mtime > b.mtime) { return 1; } });

                        li(id='record-list-bytime', class='record-sorting')
                            ul
                                each link in index
                                    li(
                                        class='id-link',
                                        title=link.id,
                                        onclick='openRecord(' + link.id + ')') #{link.title}

                        - var index = index.reverse();

                        li(id='record-list-bytime-reverse', class='record-sorting')
                            ul
                                each link in index
                                    li(
                                        class='id-link',
                                        title=link.id,
                                        onclick='openRecord(' + link.id + ')') #{link.title}

                section
                    h1(class='arrow-switch',id='control-stick') Paramètres du graphe
                    div(class='controls',id='control-list')
                        include graph-d3.html

                div(class='zoom-controls')
                    button(id='zoom-more') +
                    button(id='zoom-less') -
                    button(id='zoom-reset') O

            section(class='fiche-content',id='record-container')

                button(
                    class='fiche__btn-close',
                    onclick='closeRecord()') Fermer
            
                each record in index
                    aside(class='fiche', id=record.id)
                        div(class='metas')
                            h1 #{record.title}
                            time(class='fiche-date', datetime=record.mtime) #{record.mtime}
                            span(class='fiche-type') #{record.type}
                            span(class='fiche-tags') #{record.tags}
                        hr
                        div !{record.content}

                        if record.links.length !== 0
                            h2 Liens
                            ul
                                each link in record.links
                                    li(class='id-link l_' + link.type,title=link.aimName,onclick='openRecord(' + link.aim + ')') #{link.aimName}

                        if record.backlinks.length !== 0
                            h2 Rétroliens
                            ul
                                each backlink in record.backlinks
                                    li(class='id-link l_' + backlink.type,title=backlink.aimName,onclick='openRecord(' + backlink.aim + ')') #{backlink.aimName}

        svg(id='graph_canvas')

        script
            include scripts/graph.js
            include scripts/filter.js
            include scripts/tag.js
            include scripts/sort.js
            include scripts/record.js
            include scripts/search.js
            include scripts/controler.js
            include scripts/controls.js
            include graph-data.js